<md-toolbar>
  <i class="material-icons demo-toolbar-icon">menu</i>
  <div class="navmenu-title">
    <a [routerLink]="['/']"><span>E-Scheduler</span></a>
  </div>
  <div class="navmenu-links">
    <a *ngIf="isLoggedIn()" [routerLink]="['/dashboard']">Dashboard</a>&nbsp;
    <a [routerLink]="['/about', 'Hello world']" [routerLinkActive]="['active']">About</a>
  </div>

  <span class="demo-fill-remaining"></span>

  <div>
    <a *ngIf="isLoggedIn()" [routerLink]="['/profile']">Profile</a>&nbsp;
    <login></login>
    <logout></logout>
  </div>
</md-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>