<md-toolbar>
  <i class="material-icons demo-toolbar-icon">menu</i>
  <div class="navmenu-title">
    <a [routerLink]="['/']"><span>E-Scheduler</span></a>
  </div>
  <div class="navmenu-links">
    <a *ngIf="isLoggedIn()" [routerLink]="['/dashboard']">{{'site.top-navbar.dashboard' | translate}}</a>&nbsp;
    <a [routerLink]="['/about', 'Hello world']" [routerLinkActive]="['active']">{{'site.top-navbar.about' | translate}}</a>
  </div>

  <span class="demo-fill-remaining"></span>

  <div>
    <a *ngIf="isLoggedIn()" [routerLink]="['/profile']">{{'site.top-navbar.profile' | translate}}</a>&nbsp;
    <login></login>
    <logout></logout>
  </div>
  <div class="language-select-container">
    <ul style="list-style-type:none;">
    <li class="language-item" *ngFor="let lang of translate.getLangs()">
      <img src="../app/assets/icons/{{lang}}-flag.svg" (click)='setLanguage(lang)' [style.width.px]="20" [style.height.px]="20"/>
    </li>
    </ul>
  </div>
</md-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>